<strong>Olá, {{ student_name }}</strong>
<p>Temos uma resposta para o seu pedido de ajuda no Gympoint, confira abaixo:</p>
<p>
  <strong>Pedido: </strong> {{ answer }}<br/>
  <strong>Resposta: </strong> {{ answer }}<br/>
</p>
